:root {
    --main-color: #FAFAFA;
    --second-color: #1E1823;
    --accent-color: #FD9222;

    --text-color: #111;
    --text-second-color: #FFF;
    --text-third-color: rgba(17, 17, 17, 0.70);
}

body {
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;

    background-color: var(--main-color);
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    color: rgba(17, 17, 17, 0.70);
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21; /* 121.429% */
    letter-spacing: -0.03em;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

h3 {    
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    text-transform: uppercase;
}